apiVersion: v1
kind: Service
metadata:
  name: nginx-lb
  namespace: fhir-demo
spec:
  type: NodePort
  selector:
    app: nginx-lb
  ports:
    - name: http
      port: 80
      targetPort: 80
      
